<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>TinyPlanner &#183; Work out when you need to start something</title>

        <link rel="stylesheet" href="_assets/css/global.css">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
        <link rel="apple-touch-startup-image" href="apple-touch-startup-image.png">
        <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    </head>
    <body>

        <header role="banner">
            <h1>
                <a href="/" role="link">TinyPlanner</a>
            </h1>
        </header><!-- /@banner -->

        <main class="main" role="main">

            <div class="tiny-planner">
                
            </div>
                
        </main>
        
        <!--
            Templates
        -->

        <script type="text/html" id="template-plans-index">
            <header class="onboarding">
                <div class="field">
                    <label>I’m planning
                        <input type="text" name="plan-title" required placeholder="to serve dinner, world domination">
                    </label>
                </div>
                
                <div class="field">
                    To be finished by
                    <div class="split">
                        <div class="split-major">
                            <div class="split">
                                <div class="split-even">
                                    <input type="number" name="plan-hour" min="1" max="12" pattern="[0-9]" placeholder="hour">
                                </div>
                                <div class="split-even">
                                    <input type="number" name="plan-minute" min="0" max="59" pattern="[0-9]" step="15" placeholder="minute">
                                </div>
                            </div>
                        </div>
                        <div class="split-minor">
                            <div class="toggle split">
                                <label class="split-even">
                                    <input type="radio" name="meridian" value="am">
                                    <span class="toggle-label">am</span>
                                </label>
                                <label class="split-even">
                                    <input type="radio" name="meridian" value="pm" checked>
                                    <span class="toggle-label">pm</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="field">Create</button>
            </header>

            <h3 class="prose">My plans</h3>
            <ul>
                <% plans %>
            </ul>
            <br><br><br>
            <p class="small"><a href="/about.html"rel="help">About TinyPlanner</a></p>
        </script>

        <script type="text/html" id="template-plans-edit">
            <header>
                <h2><% title %></h2>
                <div class="timing">
                    <div class="split">
                        <div class="split-even starttime">
                            Start at <span class="timing-value"><% starttime %></span>am
                        </div>
                        <div class="split-even endtime">
                            Finish by <span class="timing-value"><% endtime %></span>pm
                        </div>
                    </div>
                    <p>You need <% totalduration %></p>
                </div>
            </header>

            <ol class="plan-steps"></ol>

            <div class="new-step-form"></div>
        </script>

        <script type="text/html" id="template-add-first-step">
            <div class="step add-step">

                <div class="split field">
                    <span>First</span>
                </div>

                <textarea class="field" name="step-title" placeholder="bring to the boil, go to the station" required></textarea>
                
                <div class="split field">
                    <div class="split-even">
                        <input type="number" pattern="[0-9]" name="step-duration" placeholder="e.g. 15" required>
                    </div>
                    <div class="split-even split toggle">
                        <label class="split-even">
                            <input type="radio" name="step-unit" value="minutes" checked>
                            <span class="toggle-label">Mins</span>
                        </label>
                        <label class="split-even">
                            <input type="radio" name="step-unit" value="hours">
                            <span class="toggle-label">Hours</span>
                        </label>
                    </div>
                </div>

                <button class="field">Add step</button>
            <div>
        </script>

        <script type="text/html" id="template-add-step">
            <div class="step add-step">

                <div class="split toggle field">
                    <label class="split-even">
                        <input type="radio" name="step-type" value="then" checked>
                        <span class="toggle-label">Then</span>
                    </label>
                    <label class="split-even">
                        <input type="radio" name="step-type" value="meanwhile">
                        <span class="toggle-label">And also</span>
                    </label>
                </div>

                <textarea class="field" name="step-title" placeholder="bring to the boil, go to the station" required></textarea>
                
                <div class="split field">
                    <div class="split-even">
                        <input type="number" pattern="[0-9]" name="step-duration" placeholder="e.g. 15" required>
                    </div>
                    <div class="split-even split toggle">
                        <label class="split-even">
                            <input type="radio" name="step-unit" value="minutes" checked>
                            <span class="toggle-label">Mins</span>
                        </label>
                        <label class="split-even">
                            <input type="radio" name="step-unit" value="hours">
                            <span class="toggle-label">Hours</span>
                        </label>
                    </div>
                </div>

                <button class="field">Add step</button>
            <div>
        </script>

        <script type="text/html" id="template-step">
            <li class="step">
                <div class="split">
                    <div class="split-minor">
                        <div class="step-time">
                            <h3 class="step-time-start"><% starttime %></h3>
                            <span class="step-time-meridian"></span>
                        </div>
                    </div>
                    <div class="split-major">
                        <div class="step-content">
                            <div class="step-content-meta">
                                <span class="meta-type"><% type %></span>
                                <span class="meta-duration"><% duration %></span>
                            </div>
                            <div class="step-content-text">
                                <p class="text-<% type %>"><% text %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </script>


        <!--
            Scripts
        -->

        <!-- Helpers -->
        <script src="_assets/js/helpers.js"></script>
        <script src="_assets/js/class.js"></script>

        <!-- Models -->
        <script src="_assets/js/models/Model.js"></script>
        <script src="_assets/js/models/Plan.js"></script>
        <script src="_assets/js/models/Step.js"></script>

        <!-- Controllers -->
        <script src="_assets/js/controllers/BaseController.js"></script>
        <script src="_assets/js/controllers/PlanController.js"></script>
        <script src="_assets/js/controllers/StepController.js"></script>
        
        <!-- Router -->
        <script src="_assets/js/tinyrouter.js"></script>

        <script>
            // tiny_planner = new Planner();
            // k.showLists();
        </script>
    </body>
</html>
