
/* Variables */
$orange:    rgb(243,99,92);
$white:     #fff;
$green:     #53d76a;
$grey:      #d3d3d3;

/* Mixins */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/** Reset **/
html, body, div, h1, h2, h3, h4, p, code, pre, strong, em, b, i, ul, ol, li, section, nav, canvas, article { margin: 0; padding: 0; font-size: 100%; font-weight: normal; }


*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #F5F5F5;
    height: 100%;
}
body {
	color: #333;
	font-family: roboto-light, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    height: 100%;
}
input, textarea, select {
    font-family: roboto-light, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1, h2 {
	text-align: center;
	font-weight: 200;
}
h3 {
    color: rgb(175,183,191);
    font-weight: 200;
}
a {
	text-decoration: none;
}

label {
	cursor: pointer;
}

ul, ol, li {
	list-style: none;
}

/** Layout **/

[role="main"], .tiny-planner, .panel {
  height: 100%;
}

.tiny-planner {
    position: relative;
}

.page {
    background-color: #F5F5F5;
}

.orange {
  background-color: $orange;
}

.inner {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Elements */

.buttons {
    .delete {
        float: right;
        background: rgb(243,99,92) url('../../img/trash.svg') 50% 50% no-repeat;
        background-size: 25%;
        width:  80px;
        height: 80px;
    }
}

.close {
    position: absolute;
    top:    15px;
    right:  15px;
    background: url('../../img/cross.svg') 50% 50% no-repeat;
    background-size: 60%;
    width:  30px;
    height: 30px;
}

.cover-panel {
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

.plan {
    @extend %clearfix;
    position: relative;
    background-color: #F5F5F5;
    border-bottom: 1px solid rgb(213,211,215);
    cursor: default;
    height: 91px;

    -webkit-transition: height .6s cubic-bezier(0.23, 1, 0.32, 1);

    .cover-panel {
        background: #fff url('../../img/orange-arrow.svg') 95% 50% no-repeat;
        background-size: 15px;
    }

    .delete {
        width: 90px;
        height: 90px;
    }

    .plan-title {
        font-size: 32px;
        color: rgb(41,47,47);
        line-height: 40px;
    }
    .plan-duration {
        font-size: 22px;
        color: rgb(147,147,147);
        line-height: 24px;
    }
}

.step {
    @extend %clearfix;
    position: relative;
    background-color: #F5F5F5;
    border-bottom: 1px solid #ccc;
    cursor: default;
    height: 81px;

    -webkit-transition: height .6s cubic-bezier(0.23, 1, 0.32, 1);

    .step-text {
        display: inline;
        color: #444;
        font-size: 18px;
    }
    .step-starttime {
        float: right;
        color: #999
    }
    .step-duration {
        color: #999;
    }
}

.add-plan {
    position: absolute;
    font-size: 26px;
    color: rgb(147,147,147);
    background: url('../../img/plus.svg') 50% 0 no-repeat;
    background-size: 47px;
    text-align: center;
    width: 100%;
    margin-top: 150px;
    padding: 55px 0 0 0;
    cursor: default;
}

.add-step {
    font-size: 26px;
    color: rgb(147,147,147);
    background: url('../../img/plus.svg') 50% 0 no-repeat;
    background-size: 47px;
    text-align: center;
    margin-top: 20px;
    padding: 55px 0 10px 0;
    cursor: default;
}

.new-plan {
    padding-top: 50px;

    label {
        display: block;
        color: rgb(254,159,150);
        font-weight: 100;
        font-size: 26px;
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        display: block;
        color: #fff;
        font-weight: 100;
        font-size: 20px;
        border: none;
        background-color: $orange;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 0;
    }
    
    button {
        display: block;
        background-color: $orange;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid rgb(255,255,255);
        border-radius: 4px;
        width: 100%;
        padding: 18px 0;
    }
    button:active {
        color: $orange;
        background-color: #fff;
    }

    input:focus, button:focus {
        outline: none;
    }
}

.view-plan {
    padding-bottom: 155px;

    .plan-header {
        position: fixed;
        top: 0;
        background-color: $orange;
        color: #fff;
        width: 100%;
        padding: 18px 0;
        z-index: 10;

        .back {
            position: absolute;
            background: url('../../img/white-arrow.svg') 50% 50% no-repeat;
            background-size: 45%;
            width: 32px;
            height: 32px;
            z-index: 10;
        }

        .plan-title {
            font-size: 24px;
            text-align: center;
            max-width: 220px;
            margin: 0 auto;

            span {
                border-bottom: 1px dashed rgba(255,255,255,0.4);
            }
        }
    }

    .plan-steps {
        margin-top: 68px;
    }
}

.new-step {
    background-color: #fff;
    padding-top: 70px;

    input[type="text"] {
        display: block;
        color: $orange;
        font-weight: 200;
        font-size: 20px;
        border: none;
        background-color: #fff;
        border-bottom: 1px solid #D5D3D7;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 0;
    }

    label {
        display: inline-block;
        line-height: 32px;
        font-weight: 200;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      background-color: darken($white, 2%);
      border: 1px solid $grey;
      border-radius: 26px;
      box-shadow: inset 0 0 0 1px $grey;
      cursor: pointer;
      height: 28px;
      position: relative;
      transition: border .25s .15s,
                  box-shadow .25s .3s,
                  padding .25s;
      width: 44px;
      vertical-align: top;
      
      &:after {
        background-color: $white;
        border: 1px solid $grey;
        border-radius: 24px;
        box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
                    0 1px 4px hsla(0,0%,0%,.15),
                    0 4px 4px hsla(0,0%,0%,.1);
        content: '';
        display: block;
        height: 26px;
        left: 0;
        position: absolute;
        right: 16px;
        top: 0;
        transition: border .25s .15s,
                    left .25s .1s,
                    right .15s .175s;
      }
      &:checked {
        border-color: $green;
        box-shadow: inset 0 0 0 14px $green;
        padding-left: 18px;
        transition: border .25s,
                    box-shadow .25s,
                    padding .25s .15s;
      
        &:after {
          border-color: $green;
          left: 16px;
          right: 0;
          transition: border .25s,
                      left .15s .25s,
                      right .25s .175s;
        }
      }
    }

    .toggle {
        float: right;
    }

    button {
        display: block;
        background-color: $orange;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 100%;
        padding: 15px 0;
        margin-top: 20px;
    }

    button:active {
        color: $orange;
        background-color: #fff;
        border: 1px solid $orange;
    }

    input:focus, button:focus {
        outline: none;
    }
}

.plan-overview {
    position: fixed;
    bottom: 0;
    color: #fff;
    background-color: $orange;
    width: 100%;

    // -webkit-transform: translate3d(0, 155px, 0);
    // -webkit-transition: -webkit-transform .5s ease;

    .container {
        padding: 20px 0;
        text-align: center;
    }

    .col {
        float: left;
        width: 50%;
    }

    .col span:first-child {
        color: rgb(255,198,184);
    }

    .time {
        display: block;
        font-size: 44px;
    }

    .duration {
        clear: both;
        padding-top: 15px;
    }
}


/** Effects **/

.animate {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
            transition: all .3s ease;
}

.deleting {
    overflow: hidden;
    height: 0;
}

